version: '3.9'

name: MyFileUploader

services:
    php:
        build:
            context: ./docker/php
        container_name: php
        environment:
            TZ: Asia/Tokyo
        volumes:
            - ./:/var/www/html
            - ./docker/php/entrypoint.sh:/usr/local/bin/entrypoint.custom.sh:ro
        entrypoint: ['/usr/local/bin/entrypoint.custom.sh']
        restart: unless-stopped
        networks:
            - app-network

    nginx:
        image: nginx:1.25-alpine
        container_name: nginx
        depends_on:
            - php
        ports:
            - '8083:80'
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./:/var/www/html:ro
        restart: unless-stopped
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
